body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url(bg.jpg);
  background-size: cover;
  font-family: poppins;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  width: 400px;
  height: 450px;
  color: #fff;
  box-sizing: border-box;
  padding: 70px 20px;
  background: #ffffff1a;
  /* background: linear-gradient(255, 255, 255, 0); */
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px;
  margin-bottom: 0;
}
.card h1 {
  color: black;
  margin: 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card input {
  width: 100%;
  margin-bottom: 20px;
}
.card input[type="text"],
.card input[type="password"] {
  border: none;
  border-bottom: 1.5px solid;
  height: 40px;
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: #76baf0;
}
.card input::placeholder {
  color: #76baf0;
}
.card button[type="submit"] {
  border: none;
  outline: none;
  background-color: #3d7ef2;
  color: #fff;
  height: 40px;
  width: 100%;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.card button:hover {
  background-color: #3671da;
}
.card a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 16px;
  color: #2b71ef;
}
.card:hover a {
  color: #506ecf;
}
